#!/bin/csh

source ${MAPPINGLOAD}/Configuration

setenv MAPPINGASSAYTYPE	assembly
setenv MAPPINGDATADIR	/data/loads/mirbase/mirbaseload/mappingload
setenv MAPPINGDATAFILE	${MAPPINGDATADIR}/mirbase_mapping.txt
setenv MAPPINGLOG	${MAPPINGDATAFILE}.log
setenv MAPPINGMODE	full
setenv JNUM		J:105741
setenv EXPERIMENTTYPE	"TEXT-Physical Mapping"
setenv CREATEDBY	dbradt

